
.fullComment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #4338ca;
    background-color: #e0e7ff;
    width: 600px;
    height: 100%;
    border-radius: 5px;
    margin: 20px 0;
}

.fullComment button{
    border: 1px solid red;
    outline: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: red;
    background-color: #fff;
    margin: 10px 0;
}

